name: CI
on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Code Checkout
        uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven
      - name: Code Build & Test
        id: build
        working-directory: ./nms
        run: mvn clean package
      - name: Publish result
        if: always()
        run: |
          echo "Status: ${{steps.build.outcome}}"
          echo "Status2: ${{steps.build.conclusion}}"
          
  analysis:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven
      - name: Static Code Analysis
        id: analysis
        working-directory: ./nms
        run: mvn verify sonar:sonar -Dsonar.host.url=https://sonarcloud.io/ -Dsonar.organization=ktgirish -Dsonar.login=${{secrets.SONAR_TOKEN}}
      - name: Publish result
        if: always()
        run: |
          echo "Status: ${{steps.analysis.outcome}}"
          echo "Status2: ${{steps.analysis.conclusion}}"