name: CI
on:
  #workflow_dispatch:
  push:
    branches:
      - master

env:
  REGISTRY: ghcr.io
  ACI_RESOURCE_GROUP: github-actions-aci
  ADOPT_SERVICES_URL: http://20.25.98.153:8888/adopt-services
  ADOPT_PROJECT_ID: 1

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      buildNumber: ${{ steps.variables_adopt.outputs.num }}
    steps:
      - name: Code Checkout
        uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven
      - name: Code Build & Test
        id: build
        working-directory: ./nms
        run: |
          echo "::set-output name=buildStartDate::$(date)"
          mvn clean package
          echo "::set-output name=buildEndDate::$(date)"
      - name: Uploading Dockerfile & war
        uses: actions/upload-artifact@v3
        with:
          name: dockerfile-and-war
          path: |
            nms/Dockerfile
            nms/target/nms*.war
          retention-days: 1
      - name: Setting Environment Variables
        if: always()
        id: variables_adopt
        run: |
          echo "::set-output name=buildNumber::nms-gh.0.${{ github.run_number }}"
          echo "::set-output name=buildURL::$GITHUB_SERVER_URL/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID"
          echo "${{ steps.build.outputs.buildStartDate }}"
          echo "${{ steps.end.outputs.buildEndDate }}"
          startTime=$(date -d "${{ steps.build.outputs.buildStartDate }}" +%s)
          endTime=$(date -d "${{ steps.end.outputs.buildEndDate }}" +%s)
          echo $startTime
          echo $endTime
          diffSeconds=$(($endTime-$startTime))
          echo $diffSeconds
          diffTime=$(date -d @${diffSeconds} +"%H:%M:%S" -u)
          echo $diffTime
          echo "::set-output name=buildDuration::$diffTime"
          echo "::set-output name=buildStatus::${{ steps.build.outcome == 'success' }}"
      - name: Sending build feedback to ADOPT
        if: always()          
        uses: fjogeleit/http-request-action@v1
        with:
            url: "${{ env.ADOPT_SERVICES_URL }}/build"
            method: 'POST'
            customHeaders: '{"Content-Type": "application/json"}'
            data: '{ "buildDisplayName": "${{ steps.variables_adopt.outputs.buildNumber }}", "buildDuration": "${{ steps.variables_adopt.outputs.buildDuration }}", "buildStartDate": ${{ steps.build.outputs.buildStartDate }}, "buildStatus": ${{ steps.variables_adopt.outputs.buildStatus }}, "buildURL": "${{ steps.variables_adopt.outputs.buildURL }}", "projectId": ${{ env.ADOPT_PROJECT_ID }} }'
          
  analysis:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Code Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven
      - name: Static Code Analysis
        id: analysis
        working-directory: ./nms
        run: mvn verify sonar:sonar -Dsonar.host.url=http://13.82.226.119:9000/sonar/ -Dsonar.login=${{secrets.SONAR_TOKEN_AZ}}
        #run: mvn verify sonar:sonar -Dsonar.host.url=https://sonarcloud.io/ -Dsonar.organization=ktgirish -Dsonar.projectKey=nms-github-actions -Dsonar.login=${{secrets.SONAR_TOKEN}}
      - name: Publish result
        if: always()
        run: |
          echo "Status: ${{steps.analysis.outcome}}"
          echo "Status2: ${{steps.analysis.conclusion}}"
          
  artifact_management:
    needs: [build, analysis]
    runs-on: ubuntu-latest
    steps:
      - name: Downloading Dockerfile & war
        uses: actions/download-artifact@v2
        with:
          name: dockerfile-and-war
      - name: Login to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and Push Docer image to Registry
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: ${{ env.REGISTRY }}/${{ github.repository }}:${{ needs.build.outputs.buildNumber }}
          
  dev_deployment:
    needs: [build, analysis, artifact_management]
    runs-on: ubuntu-latest
    steps:
      - name: Login to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Login via Azure CLI
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Dev Deployment
        uses: Azure/aci-deploy@v1
        with:
          resource-group: ${{ env.ACI_RESOURCE_GROUP }}
          dns-name-label: nms-dev
          image: ${{ env.REGISTRY }}/${{ github.repository }}:${{ needs.build.outputs.buildNumber }}
          name: nms-dev
          ports: 80
          location: 'east us'