name: CI
on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Code Checkout
        uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven
      - name: Code Build & Test
        id: build
        working-directory: ./nms
        run: mvn clean package
      - name: Caching Dockerfile & the war file
        uses: actions/cache@v3
        with:
          key: docker_and_war
          path: |
            nms/Dockerfile
            nms/target/nms*.war
      - name: Publish result
        if: always()
        run: |
          echo "Status: ${{steps.build.outcome}}"
          echo "Status2: ${{steps.build.conclusion}}"
          
  analysis:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Code Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven
      - name: Static Code Analysis
        id: analysis
        working-directory: ./nms
        #run: mvn verify sonar:sonar -Dsonar.host.url=https://sonarcloud.io/ -Dsonar.organization=ktgirish -Dsonar.projectKey=nms-github-actions -Dsonar.login=${{secrets.SONAR_TOKEN}}
      - name: Publish result
        if: always()
        run: |
          echo "Status: ${{steps.analysis.outcome}}"
          echo "Status2: ${{steps.analysis.conclusion}}"
          
  artifact_management:
    needs: analysis
    runs-on: ubuntu-latest
    steps:
      - name: Restoring Dockerfile & the war file
        uses: actions/cache@v3
        with:
          key: docker_and_war
          path: |
            nms/Dockerfile
            nms/target/nms*.war
      - name: validating files
        run: |
          cat nms/Dockerfile
          ls -lrt nms/target