name: CD

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Target environment to deploy'
        type: string
        required: true
      appsWithVersions:
        description: 'Applications with Versions'
        type: string
        required: true
        
env:
  REGISTRY: ghcr.io
  ACI_RESOURCE_GROUP: github-actions-aci
  ACI_NAME: nms
  ACI_LOCATION: 'east us'
  
#Respective projects to be added further to get the version number to release       
jobs:
  setting_aci_dns_name:
    runs-on: ubuntu-latest
    steps:
      - name: Setting ACI DNS Name variable
        id: dns_name
        run: |
          echo "::set-output name=version::${{ fromJson(inputs.appsWithVersions).nms }}"
          if [ ${{ inputs.environment}} == 'UAT' ]; then
            echo "::set-output name=dns::nms-uat"
          elif [ ${{ inputs.environment}} == 'SIT' ]; then
            echo "::set-output name=dns::nms-sit"
          else
            echo "Environment not defined"
            exit 1
          fi
    outputs:
      aci_dns_name: ${{ steps.dns_name.outputs.dns }}
      release_version: ${{ steps.dns_name.outputs.version }}

  deploy_nms:
    needs: [setting_aci_dns_name]
    if: "${{ fromJson(inputs.appsWithVersions).nms != '' }}"
    uses: ./.github/workflows/deploy-to-aci.yml
    secrets:
      registry_password: ${{ secrets.GITHUB_TOKEN }}
      azure_credentials: ${{ secrets.AZURE_CREDENTIALS }}
    with:
      registry: ghcr.io
      registry_username: ${{ github.actor }}
      aci_resource_group: github-actions-aci
      aci_name: nms-uat
      aci_dns_name: ${{ needs.setting_aci_dns_name.outputs.aci_dns_name }}
      aci_location: 'east us'
      image: ghcr.io/${{ github.repository }}
      image_tag: ${{ needs.setting_aci_dns_name.outputs.release_version }}
      port: 8080