name: CD

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Target environment to deploy'
        type: string
        required: true
      appsWithVersions:
        description: 'Applications with Versions'
        type: string
        required: true
#Respective projects to be added further to get the version number to release       
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Testing
        #if: "${{ fromJson(inputs.appsWithVersions).nms != '' }}"
        run: |
          echo ${{ fromJson(inputs.appsWithVersions) }}
          echo ${{ fromJson(inputs.appsWithVersions.nms) }}