name: Test

on:
  workflow_dispatch:
  
jobs:
  test_a:
    runs-on: ubuntu-latest
    steps:
      - id: build
        run: echo a
      
      - id: analysis
        run: echo "${{ toJson(steps.build) }}"

      - run: |
          echo b
          echo "${{ toJson(steps.build) }}"
          echo "${{ toJson(steps.analysis) }}"
      
  #test_d:
  #  needs: [test_a,test_b,test_c]
  #  if: always()
  #  runs-on: ubuntu-latest
  #  steps:
  #    - run: |
  #        echo b
  #        echo ${{ needs.test_a.result }}
  #        echo ${{ needs.test_b.result }}
  #        echo ${{ needs.test_c.result }}