name: Test

on:
  workflow_dispatch:
  
jobs:
  test_a:
    runs-on: ubuntu-latest
    steps:
      - run: exit 1
      
  test_b:
    needs: test_a
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: echo "${{ needs.test_a.result }}"
      
  test_c:
    needs: [test_a,test_b]
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo b
          echo ${{ needs.test_a.result }}
          echo ${{ needs.test_b.result }}
      
  test_d:
    needs: [test_a,test_b,test_c]
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo b
          echo ${{ needs.test_a.result }}
          echo ${{ needs.test_b.result }}
          echo ${{ needs.test_c.result }}