name: Test

on:
  workflow_dispatch:
  
jobs:
  test_a:
    runs-on: ubuntu-latest
    steps:
      - id: build
        run: echo b
      
      - id: analysis
        run: echo "${{ toJson(steps.build) }}"

      - if: always()
        run: |
          echo b
          echo "${{ steps.build.outcome == 'success' }}"
          echo "${{ steps.analysis.outcome == 'success' }}"
      
  test_d:
    needs: [test_a]
    runs-on: ubuntu-latest
    steps:
      - run: exit 1
      - if: always()
        run: |
          echo b
          echo ${{ needs.test_a.result }}