name: Test

on:
  workflow_dispatch:
  
jobs:
  test_a:
    runs-on: ubuntu-latest
    steps:
      - run: echo hi
      
  test_b:
    needs: test_a
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: echo "${{ toJson(needs.test_a)}}"
      
  test_c:
    needs: [test_a,test_b]
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo b
          echo ${{ fromJson(needs.test_a)}}
      
  test_d:
    needs: [test_a,test_b,test_c]
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo b
          echo ${{ fromJson(needs.test_a)}}
          echo ${{ fromJson(needs.test_b)}}
          echo ${{ fromJson(needs.test_c)}}